@import "resetcss";
@import url(base-min.css);
@import url(grids-min.css);
@import url(grids-responsive-min.css);


$primary-color: rgb(187, 45, 57);
$secondary-color: rgb(73, 73, 73);
$paragraphs-color: rgb(106, 106, 106);
$bg-color: #fafafa;
$black-color: rgb(37, 37, 37);
$font-stack: Lato, "Open Sans", sans-serif;

@font-face {
  font-family: "Peace Sans";
  src: url("Peace Sans Webfont.ttf")  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: "LemonMilk";
  src: url("LemonMilkbold.otf")  format('opentype'), /* Safari, Android, iOS */
}


@mixin transition($property: all, $duration: 0.5s, $ease: cubic-bezier(0.65,-0.25,0.25, 1.95)) {
      transition: $property $duration $ease;
}

@mixin notselectable() {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@mixin skewX($value) {
    transform: skewX($value); 
    -ms-transform: skewX($value); /* IE 9 */
    -webkit-transform: skewX($value); /* Safari and Chrome */
    
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}


//-------------------------------------------------------

html {
    font-size: 14px;
}

body {
    font-family: $font-stack;
    color: $paragraphs-color;
    text-align: center;
}

section {
    padding: 5vw 10vw;
    z-index: 1;

    div, h2, h3, h4, p {
        z-index: 3;
    }
}

section:nth-child(2n+4) {
    background-color: #f5f5f5;
}

.svg-container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;

    svg {
        position: absolute;
        z-index: 2;
    }
}

h1 {
    font-size: 43px;
    font-weight: 900;
    color: $bg-color;
    height: fit-content;
}

h2 {
    font-family: "Peace Sans", $font-stack;
    font-size: 2.6rem;
    margin: 0 0 0.5rem 0;
    font-weight: 500;
    @include notselectable;
}

h3 {
    font-weight: 800;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
}

h4 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}

a {
    cursor: pointer;
}

p {
    font-family: $font-stack;
    font-size: 17px;
    margin: 1rem 0 2rem 0;
    text-align: center;
}

span {
    font-family: $font-stack;
}

img {
    @include notselectable;
}

.button {
    background-color: $primary-color;
    color: $bg-color;
    text-transform: uppercase;
    padding: 10px 20px;
    width: fit-content;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: 0 0 0.8rem grey;
    @include transition(all, 0.2s, cubic-bezier(0.65,-0.25,0.25,1.95));
    @include notselectable;
    
    &:hover, &:focus &:active {
        background-color: #a50b0b;
    }

}

.pure-g [class*=pure-u] {
    font-family: $font-stack;
}

//-------------------------------------header------------------

header {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 20px 5vw;
      
    
    nav {
        margin-top: 0;
        margin-right: -6vw;
        font-size: 2rem;
        font-weight: 700;
        color: $bg-color;
        fill: blue;
        z-index: 5;
        
        @import "burgermenu"; 
        
        ul {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            background-color: rgba(255, 255, 255, .95);
            color: $primary-color;
        }
        
        .menu {
            a {
                padding: 10px;
                @include transition(all, 0.2s, cubic-bezier(.65, -.25, .25, 1.95));

                &:hover, &:focus &:active {
                    border-bottom: 2px solid $primary-color;   
                }
            }
        }
        
        .icons {
            position: absolute;
            left: 20px;
            top: 88vh;
            background-color: transparent;
                        
            svg {
                height: 1.8rem;
                width: auto;
                fill: $bg-color;
                margin: 5px;
            }
        }
    }
}

//-------------------------------------home------------------

.home {
    background-image: url(images/background_img.png);
    background-color: $primary-color;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 5vh 10vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden;

    .slogan {
        z-index: 1;
        background-image: url(images/background_img.png);
        background-clip: text;
        background-size: cover;
        background-position: center;
        -webkit-background-clip: text;
        background-color: $bg-color;
        background-blend-mode: multiply;
        margin: -5vh -10vw;
        
        @include notselectable;
        
        width: calc(100vw);
        height: 100vh;
        
        h2 {
            color: transparent;
            font-family: LemonMilk;
            font-size: 15vw;
            line-height: 16vw;
            margin-top: 25vh;            
        }
    }
    
    .img-container {
        position: relative;
        z-index: 2;
    }
    
    .guyimg {
        position: absolute;
        top: 40vh;
        left: 40vw;
        width: 90vw;
    }
    
    .button-container {
        position: absolute;
        width: 80vw;
        text-align: center;
        top: calc(25vh + 320px);
    }
    
    .button {
        background-color: $bg-color;
        color: $black-color;
        box-shadow: 0 0 0.8rem #000000ab;
        z-index: 3;
        
        &:hover, &:active {
            box-shadow: 0 0 1.5rem black;
            background-color: rgba(250,250,250,0.9);
        }
    }

}

//-------------------------------------about------------------

.about {
    overflow: hidden;
    
    .pure-u-md-1-2 {
        display: flex;
        align-items: center;
    }
    
    .text {
        max-width: 500px;
        margin: auto;
        flex-flow: column nowrap;
        
        p {
            margin-bottom: 3rem;
        }
    }
    
    .button {
        margin: auto;
    }
    
    img {
        width: 100%;
        max-width: 600px;
        margin: 50px 0 0 0;
    }
    
    .svg-container {
        z-index: -1;
        
        .blackhalf {
            top: -5vw;
            right: -50vw;
            height: 30vw;
            width: 60vw;
            fill: #000;
        }
    }
}


//-------------------------------------services------------------

.services {
    
    .services_block {
        padding: 1rem;
        
        p {
            margin: 1rem 0;
        }
    }
    
    .services_icon {
        width: 3.5rem;
        margin: 1rem;
    }
    
    .svg-container {
        .left {
            top: 20vw;
            left: -10vw;
            height: 20vw;
            width: 6vw;
            fill: $primary-color;
        }
    }
}

//-------------------------------------process------------------
.process {
    
    .process-container {
        overflow: hidden;
        padding: 5vw 10vw;
        margin: -5vw -10vw;
    }
    
    .pure-u-md-1-3 {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        
        .button {
            margin-bottom: 1rem;
        }
    }
    
    .process_blocks {
        width: 118vw;
        margin: 2rem 0 2rem -6vw;
        color: $bg-color;
        text-align: left;
        justify-content: flex-start;
    }
        
    .process_blocks_item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $black-color;
        background-blend-mode: overlay;
        background-clip: padding-box;

        border-right: 2vw solid transparent;

        @include skewX(-20deg);

        max-width: 220px; 
        height: 180px; 

        padding: 0;

 
    }
    
    .process_blocks_content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height: 100%;
        padding: 2.5vw;
        overflow: hidden;        
        position: relative;
        box-shadow: -3.508px 11.476px 40px rgba(0,1,1,0.22);

        
        div {
            @include skewX(20deg);
            padding-left: .5rem;
            
            h4, p {
                @include skewX(0deg);
                padding-right: 2rem;
            }
        }
    
        h3 {
            text-align: right;
            padding-right: 1rem;
            font-size: 1.5rem;
            @include skewX(20deg);
        }

        h4 {
            font-size: 1.2rem;
            @include skewX(20deg);
        }

        p {
            text-align: left;
            font-size: .8rem;
            line-height: 1.2rem;
            margin: .5rem 0;
            @include skewX(20deg);
        }
    }
    
    @mixin process-block ($bg-url: "images/process_idea_bg.png") {
        background-image: url($bg-url); 
        content: "";
        
        @include skewX(20deg);

        background-repeat: no-repeat; 
        background-position: center;
        margin-left: -10rem;
        margin-top: -2rem;
        z-index: -2;

        position: absolute;

        width: 200%;
        height: 120%;         
    }
    
    .process_blocks_idea::before {
        @include process-block ("images/process_idea_bg.png");
    }
    

    .process_blocks_design::before {
        @include process-block ("images/process_design_bg.png");
    }

    .process_blocks_output::before {
        @include process-block ("images/process_output_bg.png");
    }

    
    .svg-container {
        display: none;
        
        .right {
            top: -5vw;
            right: -10vw;
            height: 26vw;
            width: 32vw;
            fill: $primary-color;
        }
        
        .leftcorner {
            top: -8vw;
            left: -10vw;
            height: 26vw;
            width: 10vw;
            fill: #000;
        }
    }
}

//-------------------------------------team------------------

.team {    
    h2 {
        text-align: center;
    }
    
    .slider-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-height: 620px;
    }
    
    .slider {
        position: relative;
        width: 80vw;
        height: 80vw;
        list-style: none;
    }
    
    .slider_item {
        position: absolute;
        top: 0;
        left: 3.5vw;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity .3s ease-out;
        
        img {
            width: 60vw;
            max-width: 600px;
            max-height: 610px;
        }
    }
    
    .slider_item_name {
        color: $bg-color;
        background-color: $black-color;
        padding: .5rem 3rem .8rem;
        transform: skewX(30deg);
        margin-top: -3rem;
        
        h3 {
            margin: 0 auto;
            transform: skewX(-30deg);
            font-size: 1.2rem;
        }
    }
    
    .slider_item_role {
        color: $bg-color;
        background-color: $primary-color; 
        padding: .5rem 2rem;
        transform: skewX(30deg);
        margin: -5px 0 0 20%;
        
        h4 {
            margin: 0 auto;
            transform: skewX(-30deg);
            font-style: italic;
            font-size: 1rem;
            text-transform: none;
            font-weight: 400;
            
        }
    }
    
    .show {
        opacity: 1;
        z-index: 2;
    }
    
    
    .svg-container {
        width: 5vw;
                
        svg {
            position: relative;
        }
        
        .arrow {
            height: 10vw;
            max-height: 120px;
            width: 5vw;
            max-width: 60px;
            fill: grey;
            cursor: pointer;
        }
    }
}


//-------------------------------------clients------------------

.clients {
    
    .bigphoto {
        width: 70%;
    }
    
    .quot {
        display: flex;
        max-width: 780px;
            
        .quotationmark {
            width: 3rem;
            height: 100%;
            margin-top: 1rem;
        }
        
        p {
            text-align: left;
            padding-left: 1rem;
        }
        
        .quot_author {
            font-weight: 700;
            text-align: right;
        }
    }
    
    .smphoto-container {
        text-align: center;
        
        .smphoto {
            width: 4.5rem;
        }
    }
    
    .svg-container {
        .rightcorner {
            top: -5vw;
            right: -10vw;
            height: 18vw;
            width: 18vw;
            fill: #000;
        }
        
        .left {
            top: calc(-10vw - 20px);
            left: -10vw;
            height: 60vw;
            width: 26vw;
            fill: $primary-color;
            visibility: hidden;
        }
    }
}


//-------------------------------------footer------------------

footer {
    padding: 5vw 10vw;
    color: $bg-color;
    background-image: url(images/footer_bg.png);
    background-color: #171717;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    h2 {
        color: #9f9f9f;
    }
    
    h5 {
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 5px;
    }
    
    hr {
        width: 65%;
        margin: 20px auto;
        border: 1px solid $bg-color;
    }
    
    .pure-g {
        padding-left: 15vw;
        margin: auto;
        max-width: 1015px;
    }
    
    .contact_item {
        display: flex;
        flex-flow: row wrap;
        margin: 1rem 0;
        align-items: center;
        
        img {
            width: 3rem;
        }
    }
    
    .contact_details {
        display: flex;
        flex-flow: column nowrap;
        padding: 0 1rem;
        text-align: left;
    }
    
    .icons {
        margin: 2rem 0;
        
        img {
            margin: 10px;
            height: 1.2rem;
        }
    }
    
    .copyrights {
        font-size: 12px;   
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        
        span {
            padding: 0 1rem;
            margin: 5px 0;
        }
    }
    
    .svg-container {
        position: relative; 
        
        svg {
            position: absolute;
            bottom: -5vw;
            right: -10vw;
            height: 12vw;
            width: 20vw;
            fill: $primary-color;
        }
    }
    
}


//-------------------------------------media queries-------------

@media only screen and (min-width: 568px) {
    
    .home {
        .button-container {
            top: 73vh;
        }
        
        .guyimg {
            left: 50vw;
            width: 70vw;
        }
    }
    
    .process {
        
        .process_blocks {
            width: 85vw;
            margin: 2rem 0 2rem 3vw;
            justify-content: space-around;
        }
        
        .process_blocks_content {
            padding: 1rem;
            
            div {
                padding-left: 0;
            }
            
            h3 {
                font-size: 2rem;
            }

            h4 {
                font-size: 1.5rem;
            }

            p {
                font-size: .8rem;
                padding-right: 1.2rem;
            }
            
        }
        
        .svg-container {
            display: block;
        }
    }
    
    .team {
        .slider {
            height: 40vw;
        }
        
        .slider_item {
            opacity: .3;
            left: 0;
            
            img {
                width: 35vw;
            }
        }
        
        .slider_item_name {
            margin-top: -5rem;
        }
        
        .show {
            opacity: 1;
            left: 17vw;
            top: -1rem;
        }
        
        .prev, .next {
            width: fit-content;

            .slider_item_name {
                padding: .5rem 1rem;
                margin-bottom: 8vw;
                margin-top: -3rem;

                h3 {
                    font-size: .8rem
                }
            }

            .slider_item_role {
                display: none;
            }
        }
        
        .prev {
            transform: translateX(5vw);
            width: 20vw;

            img {
                width: 100%;
            }
        }

        .next {
            transform: translateX(44vw);
            width: 20vw;
            
            img {
                width: 100%;
            }
        }
    }
    
    
    .clients { 
        .bigphoto {
            width: 140%;
            margin: 0 0 0 -40px;
        } 
        
        .svg-container {
            .left {
                visibility: visible;
            }
        }
    }
    
    footer {
        padding: 5vw;
        
        .pure-g {
            padding-left: 0;
        }
        
        .contact_item {
            flex-flow: column nowrap;
            
            .contact_details {
                margin-top: 1rem;
                padding: 0;
                text-align: center;
            }
        }
        
        .svg-container {
            svg {
                right: -5vw;
                bottom: -5vw;
            }
        }
    }
    
}  

@media only screen and (min-width: 768px) {
    
    html {
        text-align: left;
        font-size: 17px;
        
        p {
            text-align: left;
        }
    }
    
    header {
        height: fit-content;
        align-items: center;
        padding: 20px 2vw; 
        
        h1 {
            margin-top: -5px;
        }
        
        nav {    
            display: flex;
            align-items: center;
            margin-right: 0;
            
            .navicon {
                display: none;
            }
            
            ul {
                flex-flow: row nowrap;
                background-color: transparent;
                color: $bg-color;
                font-size: .9rem;
            }
            
            .menu {
                position: relative;
                transform: none;
                top: 0;
                height: fit-content;
                width: fit-content;
                padding: 0;
            
                a:hover, a:focus a:active  {
                    border-bottom: 2px solid $bg-color;
                }                    
            }
            
            .icons {
                position: relative;
                top: auto;
                left: auto;
                
                svg {
                    height: .9rem;
                }
            }
        }
    }
    
    .home {
        padding: 5vh 5vw;
        
        .slogan {
            margin: -5vh -5vw;
            
            h2 {
                font-size: 6rem;
                line-height: 6rem;
                margin-top: 30vh;
                margin-left: -26vw;
            }
        }
        
        .button-container {
            top: calc(30vh + 360px);
            margin-left: -10vw;
        }
        
        .guyimg {
            top: 25vh;
            left: 40vw;
            width: 80vw;
            max-width: 615px;
        }
    }

    .about {
        
        .text {
            align-items: flex-start;
            
            h2 {
                margin-left: -8px;
            }
            
            .button {
                margin: 0;
            }
        }
        
        .svg-container {
            .blackhalf {
                right: calc(-10vw - 70px);
                height: 75vh;
            }
        }
    }
        
    .services {
        .services_block {
            display: flex;
            align-items: flex-start;
        }
        
        h3 {
            text-align: left;
        }
        
        .services_icon {
            margin: 0 1rem 0 0;
        }
    }
    
    .process {
        
        .pure-u-md-1-3 {
            align-items: flex-start;
            justify-content: space-evenly;
            
            p {
                margin-bottom: 1rem;
            }
        }
        
        h2 {
            text-align: left;
        }
        
        .process_blocks {
            width: 65vw;
            margin: 2rem 0 2rem 8vw;
        }
                
        .process_blocks_content {
            padding: .5rem;
                
            h3 {
                font-size: 2rem;
            }

            h4 {
                font-size: 1.5rem;
            }

            div {
                margin-left: -8px;
                
                p {
                    font-size: .8rem;
                    padding-right: 1rem;
                    margin: .2rem 0;
                }
            }

        }
    }
        
   .clients { 
       h2 {
           padding-left: 6vw;
       }
       
       .pure-g {
           align-items: center;
       }
       
        .bigphoto {
            width: 120%;
            margin: 0 0 0 0px;
        }  
       
       .quot {
           padding-left: 3rem;
           
           p {
               margin: 2rem 0;
           }
               
          .quot_author {
               text-align: left;
           }
           
          .smphoto-container {
              text-align: left;
              padding-left: 1rem;
           }
       }
    }
        
    footer {
        text-align: center;
        
        .copyrights {
            flex-flow: row nowrap;
            
           span:nth-of-type(1) {
                border-right: 1px solid $bg-color;
            } 
        }
    }
}  

@media only screen and (min-width: 1024px) {
    html {
        font-size: 20px;
    }
    
    header {
        padding: 20px 5vw;
        
        nav {
            .menu {
                font-size: 1.1rem;
                padding: .8rem;
            }
            
            .icons {
                svg {
                    height: 1.1rem;
                }
            }
        }
    }
    
    .home {
        padding: 5vh 5vw;
        overflow: visible;
        
        .slogan {
            width: calc(100vw - 17px); //scrollbar-width
            
            h2 {
                font-size: 7rem;
                line-height: 6.5rem;
            }
        }
        
        .button-container {
            top: calc(30vh + 420px);
        }
        
        .guyimg {
            top: 10vh;
            left: 45vw;
            width: 45vw;
            max-width: 750px;
        }
    }
    
    .process {
        
        .process_blocks {
            width: 70vw;
            margin: 2rem 0 2rem 6vw;
        }
        
        .process_blocks_item {
            max-width: 320px;
            height: 200px;
        }
                
        .process_blocks_content {
            padding: .5rem;
            
            h3 {
                font-size: 2rem;
            }

            h4 {
                font-size: 1.5rem;
            }

            p {
                font-size: .8rem;
                padding-right: .5rem;
                margin: .2rem 0;
            }
            
        }
    }
    
    .team {
        .prev, .next {
            .slider_item_name {
                margin-bottom: 6vw;
            }
        }
    }
    
    footer {
        padding: 5vw 10vw;
        
        .svg-container {
            svg {
                right: -10vw;
            }
        }
        
        .pure-g {
            font-size: 17px; 
        }
        
        .contact_item {
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            
            .contact_details {
                text-align: left; 
                padding-left: 1rem;
                margin-top: 0;
            }
        } 
    }
}

@media only screen and (min-width: 1720px) {
    .process {
        .pure-u-md-1-3 {
            align-items: flex-start;
            justify-content: space-around;
        }
        
        .process_blocks {
            width: 70vw;
            margin: 2rem 0 2rem 3vw;
        }
        
        .process_blocks_item {
            max-width: 350px;
            height: 220px;
        }
        
        .process_blocks_content {
            div {
                margin-left: 0;
            }
        }
    }
    
    .team {
       .show {
            left: calc(50% - 315px);
        }
    }
}
