@import "resetcss";
@import url(base-min.css);
@import url(grids-min.css);
@import url(grids-responsive-min.css);


$primary-color: rgb(187, 45, 57);
$secondary-color: rgb(73, 73, 73);
$paragraphs-color: rgb(106, 106, 106);
$bg-color: #fafafa;
$font-stack: Lato, "Open Sans", sans-serif;

@font-face {
  font-family: "Peace Sans";
  src: url("Peace Sans Webfont.ttf")  format('truetype'), /* Safari, Android, iOS */
}


//-------------------------------------------------------

body {
    font-family: $font-stack;
    color: $paragraphs-color;
    font-size: 12px;
    text-align: center;
}

section {
    min-height: 60vh;
    padding: 10vw;
}

section:nth-child(2n+2) {
    background-color: #f5f5f5;
}

h1 {
    font-size: 43px;
    font-weight: 900;
    color: $bg-color;
}

h2 {
    font-family: "Peace Sans", $font-stack;
    font-size: 3em;
    margin: 0;
}

h3 {
    font-weight: 800;
    font-size: 2em;
}

h4 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
}

p {
    font-size: 17px;
    margin: 1em 0 2em 0;
    text-align: center;
}

.button {
    background-color:  $primary-color;
    color: $bg-color;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 21px;
}

//-------------------------------------------------------

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 5vw;
    
    nav {
        font-weight: 700;
        color: $bg-color;
        display: flex;
        justify-content: flex-end;
        
        ul {
            display: flex;
            
            li {
                margin: 10px;
            }
        }
    }
}


.home {
    background-image: url(images/background_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    
    .overlay {
        background-color: rgba(187, 45, 57, 0.8);
        min-height: 100vh;
        padding: 5vh 10vw;
    }
    
    .slogan {
        img {
            width: 100%;
        }
    }
    
    .guyimg {
        height: 30vh;
    }

}

//-------------------------------------about------------------

.about {
    img {
        width: 100%;
        margin: 50px 0;
    }
}


//-------------------------------------services------------------

.services {
    
    .services_block {
        padding: 1em;
        
        p {
            margin: 1em 0;
        }
    }
    
    .services_icon {
        width: 4em;
        margin: 1em;
    }
}

//-------------------------------------process------------------

.process {
    .process_blocks {
        margin: 2em 0;
        color: $bg-color;
        padding: 1em;
        
        h3 {
            text-align: right;
            padding-right: 1em;
        }
        
        .process_blocks_idea {
            background-image: url(images/process_design.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 150px;
            margin: 1em auto;
        }
        
        .process_blocks_design {
            background-image: url(images/process_design.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 150px;
            margin: 1em auto;
        }
        
        .process_blocks_output {
            background-image: url(images/process_output.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 150px;
            margin: 1em auto;
        }
    }
}


//-------------------------------------clients------------------

.clients {
    img {
        max-width: 100px;
    }
    
    .quotationmark {
        width: 3em;
    }
}


//-------------------------------------footer------------------

footer {
    padding: 5vh 10vw;
    background-color: #171717;
    color: $bg-color;
    
    h5 {
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 5px;
    }
    
    hr {
        width: 65%;
        margin: 20px auto;
    }
    
    .pure-g {
        padding-left: 15vw;
    }
    
    .contact_item {
        display: flex;
        flex-flow: row wrap;
        margin: 1em 0;
        align-items: center;
        
        img {
            width: 3em;
        }
    }
    
    .contact_details {
        display: flex;
        flex-flow: column nowrap;
        padding: 0 1em;
        text-align: left;
    }
    
}


//-------------------------------------media queries-------------

@media only screen and (min-width: 530px) {
    body {
        font-size: 14px;
    }
}  

@media only screen and (min-width: 768px) {
    
    body {
        text-align: left;
        font-size: 17px;
    }
    
    footer {
        text-align: center;
    }
    
    p {
        text-align: left;
    }
}  

@media only screen and (min-width: 1024px) {
    body {
        font-size: 20px;
    }
}
