@import "resetcss";
@import url(base-min.css);
@import url(grids-min.css);
@import url(grids-responsive-min.css);


$primary-color: rgb(187, 45, 57);
$secondary-color: rgb(73, 73, 73);
$paragraphs-color: rgb(106, 106, 106);
$bg-color: #fafafa;
$font-stack: Lato, "Open Sans", sans-serif;

@font-face {
  font-family: "Peace Sans";
  src: url("Peace Sans Webfont.ttf")  format('truetype'), /* Safari, Android, iOS */
}


//-------------------------------------------------------

body {
    font-family: $font-stack;
    color: $paragraphs-color;
    font-size: 12px;
    text-align: center;
}

section {
    min-height: 40vh;
    padding: 10vw;
}

section:nth-child(2n+2) {
    background-color: #f5f5f5;
}

h1 {
    font-size: 43px;
    font-weight: 900;
    color: $bg-color;
}

h2 {
    font-family: "Peace Sans", $font-stack;
    font-size: 3em;
    margin: 0 0 0.5em 0;
    font-weight: 500;
}

h3 {
    font-weight: 800;
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
}

h4 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
}

p {
    font-family: $font-stack;
    font-size: 17px;
    margin: 1em 0 2em 0;
    text-align: center;
}

span {
    font-family: $font-stack;
}

.button {
    background-color:  $primary-color;
    color: $bg-color;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 21px;
}

.pure-g [class*=pure-u] {
    font-family: $font-stack;
}

//-------------------------------------------------------

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 5vw;
    
    nav {
        font-weight: 700;
        color: $bg-color;
        display: flex;
        justify-content: flex-end;
        
        ul {
            display: flex;
            
            li {
                margin: 10px;
            }
        }
    }
}


.home {
    background-image: url(images/background_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    
    .overlay {
        background-color: rgba(187, 45, 57, 0.8);
        min-height: 100vh;
        padding: 5vh 10vw;
    }
    
    .slogan {
        img {
            width: 100%;
        }
    }
    
    .guyimg {
        height: 30vh;
    }

}

//-------------------------------------about------------------

.about {
    img {
        width: 100%;
        margin: 50px 0;
    }
}


//-------------------------------------services------------------

.services {
    
    .services_block {
        padding: 1em;
        
        p {
            margin: 1em 0;
        }
    }
    
    .services_icon {
        width: 3.5em;
        margin: 1em;
    }
}

//-------------------------------------process------------------

.process {
    .process_blocks {
        margin: 2em 0;
        color: $bg-color;
        padding: 1em;
        
        h3 {
            text-align: right;
            padding-right: 1em;
        }
        
        .process_blocks_idea {
            background-image: url(images/process_design.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 150px;
            margin: 1em auto;
        }
        
        .process_blocks_design {
            background-image: url(images/process_design.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 150px;
            margin: 1em auto;
        }
        
        .process_blocks_output {
            background-image: url(images/process_output.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 150px;
            margin: 1em auto;
        }
    }
}


//-------------------------------------clients------------------

.clients {
    
    .bigphoto {
        width: 70%;
    }
    
    .quot {
        display: flex;
        max-width: 760px;
            
        .quotationmark {
            width: 3em;
            height: 100%;
            margin-top: 1em;
        }
        
        p {
            text-align: left;
            padding-left: 1em;
        }
        
        .quot_author {
            font-weight: 700;
            text-align: right;
        }
    }
    
    .smphoto_container {
        text-align: center;
        
        .smphoto {
            width: 4.5em;
        }
    }
    

}


//-------------------------------------footer------------------

footer {
    padding: 5vh 10vw;
    background-color: #171717;
    color: $bg-color;
    
    h2 {
        color: #9f9f9f;
    }
    
    h5 {
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 5px;
    }
    
    hr {
        width: 65%;
        margin: 20px auto;
    }
    
    .pure-g {
        padding-left: 15vw;
        margin: auto;
        max-width: 1015px;
    }
    
    .contact_item {
        display: flex;
        flex-flow: row wrap;
        margin: 1em 0;
        align-items: center;
        
        img {
            width: 3em;
        }
    }
    
    .contact_details {
        display: flex;
        flex-flow: column nowrap;
        padding: 0 1em;
        text-align: left;
    }
    
    .icons {
        margin: 2em 0;
        
        img {
            margin: 10px;
            height: 1.2em;
        }
    }
    
    .copyrights {
        font-size: 12px;   
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        
        span {
            padding: 0 1em;
            margin: 5px 0;
        }
    }
    
    .svg_container {
        position: relative;
        right: 0;
        
        svg {
            position: absolute;
            width: 300px;
            fill: red;
        }
    }
    
}


//-------------------------------------media queries-------------

@media only screen and (min-width: 568px) {
    body {
        font-size: 14px;
    }
    
    .clients { 
        .bigphoto {
            width: 140%;
            margin: 0 0 0 -40px;
        }  
    }
    
    footer {
        padding: 5vw;
        
        .pure-g {
            padding-left: 0;
        }
        
        .contact_item {
            flex-flow: column nowrap;
            
            .contact_details {
                margin-top: 1em;
                padding: 0;
                text-align: center;
            }
        }
    }
    
}  

@media only screen and (min-width: 768px) {
    
    body {
        text-align: left;
        font-size: 17px;
        
        p {
            text-align: left;
        }
    }
    
    .services {
        .services_block {
            display: flex;
            align-items: flex-start;
        }
        
        .services_icon {
            margin: 0 1em 0 0;
        }
    }
    
   .clients { 
       .pure-g {
           align-items: center;
       }
       
        .bigphoto {
            width: 120%;
            margin: 0 0 0 0px;
        }  
       
       .quot {
           padding-left: 3em;
           
           p {
               margin: 2em 0;
           }
               
          .quot_author {
               text-align: left;
           }
           
          .smphoto_container {
              text-align: left;
              padding-left: 1em;
           }
       }
    }
        
    footer {
        text-align: center;
        
        .copyrights {
            flex-flow: row nowrap;
            
           span:nth-of-type(1) {
                border-right: 1px solid $bg-color;
            } 
        }
    }
}  

@media only screen and (min-width: 1024px) {
    body {
        font-size: 20px;
    }
    
    footer {
        padding: 5vw 10vw;
        
        .pure-g {
            font-size: 17px; 
        }
        
        .contact_item {
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            
            .contact_details {
                text-align: left; 
                padding-left: 1em;
                margin-top: 0;
            }
        } 
    }
}
